*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
assessment.txt
data/qtl2_demo.Rdata
data/cc_variants.sqlite
data/mouse_genes.sqlite
data/muga_snps.Rdata
fig/.Rhistory
files/Gatti_MammGen_2018.pptx
scripts/

