<p><img alt="" src="../fig/mapping-workflow.png" /></p>
<hr/>
<p><img alt="" src="../fig/unknown_genotype.png" /></p>
<hr/>
<p><img alt="" src="../fig/threeD_array.png" /></p>
<hr/>
<p><img alt="" src="../fig/nullvalt.png" /></p>
<hr/>
<p><img alt="" src="../fig/residual.png" /></p>
<hr/>
<p><img alt="" src="../fig/squared-residual.png" /></p>
<hr/>
<p><img alt="" src="../fig/null.png" /></p>
<hr/>
<p><img alt="" src="../fig/hk-regress.png" /></p>
<hr/>
<p><img alt="" src="../fig/lod-plot.png" /></p>
<hr/>
<p><img alt="" src="../fig/lod-support.png" /></p>
<hr/>
<p><img alt="" src="../fig/linear-genetic-model.png" /></p>
<hr/>
<p><img alt="" src="../fig/model-equation.png" /></p>
<hr/>
<p><img alt="" src="../fig/matrix-alg-model.png" /></p>
<hr/>
<p><img alt="" src="../fig/all-geno-model.png" /></p>
<hr/>
<p><img alt="" src="../fig/benzene_study_design.png" /></p>
<hr/>
<p><img alt="plot of chunk geno_plot" src="../fig/rmd-13-geno_plot-1.png" /></p>
<hr/>
<p><img alt="plot of chunk kinship_probs" src="../fig/rmd-13-kinship_probs-1.png" /></p>
<hr/>
<p><img alt="plot of chunk qtl_plot" src="../fig/rmd-13-qtl_plot-1.png" /></p>
<hr/>
<p><img alt="plot of chunk qtl_plot_thr" src="../fig/rmd-13-qtl_plot_thr-1.png" /></p>
<hr/>
<p><img alt="plot of chunk coef_plot" src="../fig/rmd-13-coef_plot-1.png" /></p>
<hr/>
<p><img alt="" src="../fig/DO.impute.founders.sm.png" /></p>
<hr/>
<p><img alt="plot of chunk assoc_fig" src="../fig/rmd-13-assoc_fig-1.png" /></p>
<hr/>
<p><img alt="plot of chunk plot_assoc2" src="../fig/rmd-13-plot_assoc2-1.png" /></p>
<hr/>
<p><img alt="" src="../fig/French.et.al.Figure3.png" /></p>
<hr/>
<p><img alt="" src="../fig/EnsEMBL_Sult3a1_Gm4794_paralog.png" /></p>
<hr/>
<p><img alt="" src="../fig/French.et.al.Sup.Figure2.png" /></p>
<hr/>
<p><img alt="" src="../fig/EnsEMBL.Sult3a1.png" /></p>
<hr/>
<p><img alt="" src="../fig/French.et.al.Sup.Figure3.png" /></p>
<hr/>
<p><img alt="" src="../fig/Monks_ChemBiolInter_2010_Fig1.jpg" /></p>
<hr/>
<p><img alt="" src="../fig/benzene_hypothesis.png" /></p>
